# Permanently ignored (Has it's own repo)
**/aulas
**/provas
semestre4/icd/projeto
semestre4/ibd/tp2
semestre5/alg2/tp1
semestre6/engsoft/tp1
semestre6/comp1/tp
semestre6/testsoft/TP1_Teste_de_Software
semestre7/ri/tp1/corpus/

# In progress
# semestre6
